 
  <a href="#{{ticker.symbol}}" class="list-group-item list-group-item-action">
    {{#if ticker.favorites}}🔔{{else}}🔕{{/if}}
    {{ticker.symbol}} {{#if ticker.favorites}}
    {{ticker.lastPrice}}$
    {{#if (greater ticker.price24hPcnt)}}<span class="text-success">+{{else}}<span class="text-danger">{{/if}}{{formatNumber ticker.price24hPcnt}}%</span>
  {{/if}}</a>
