<div class="row pb-2">
  <div class="col-md-3">
    <div class="list-group">
      {{#each paginate.alerts as |alert|}}
        <a href="/tickers/{{alert.symbol}}/tv" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{alert.symbol}} - {{alert.interval}} ({{moment alert.createdAt._seconds}})</h5>
          </div>
          <p class="mb-1 h5">
            📈 <span class="badge text-bg-success">{{alert.volumeUp}}%</span>
            <span class="badge text-bg-warning">{{formatNumber alert.lastPrice}}$</span>
          </p>
          <small>candleTime: {{formatDate alert.volumeCandleStartTime}}</small>
        </a>
      {{/each}}
    </div>
  </div>
</div>
{{#if paginate.hasPrev}}
  <a href="/?direction=prev&symbol={{paginate.firstVisibleDoc.symbol}}&lastVisibleId={{paginate.firstVisibleDoc.id}}" class="btn btn-primary">Prev Page</a>
{{/if}}
{{#if paginate.hasNext}}
  <a href="/?direction=next&symbol={{paginate.lastVisibleDoc.symbol}}&lastVisibleId={{paginate.lastVisibleDoc.id}}" class="btn btn-primary">Next Page</a>
{{/if}}