<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Symbol</th>
            <th>Side</th>
            <th>Size</th>
            <th>triggerPrice/price</th>
            <th>Del</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
            <tr class="order-item cursor-pointer" data-symbol="{{symbol}}">
              <td>{{formatDate createdTime}}</td>
              <td>{{symbol}}</td>
              <td class="{{#if (eq side 'Buy')}}text-success{{else}}text-danger{{/if}}">
               {{#if (eq price '0')}}TP/SL{{else}}{{#if (eq side 'Buy')}}Long{{else}}Short{{/if}}{{/if}}  
              </td>
              <td>{{#if triggerPrice}}S{{multiply qty triggerPrice}}{{else}}L{{multiply qty price}}{{/if}}$</td>
              <td>
                {{triggerPrice}}/{{price}}$
              </td>
              <td>
                {{#if (gt price 0)}}
                  <button type="button" class="btn btn-sm" data-action="deleteOrder" data-symbol="{{symbol}}" data-order-id="{{orderId}}" data-price="{{triggerPrice}}" data-side="{{side}}">🗑</button>
                {{else}}
                  {{stopOrderType}}
                {{/if}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="12" class="text-center">No orders found</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>