<ul class="nav nav-pills mb-2">
  <li class="nav-item">
    <a class="nav-link order-item get-orders" aria-current="page" href="#">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link position-item get-positions" href="#">Positions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more{{#unless all}} active{{/unless}}" href="#">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more all{{#if all}} active{{/if}}" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more" href="#">W/R</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more all" href="#">W/R All</a>
  </li>
</ul>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Symbol</th>
            <th>Side</th>
            <th>Size</th>
            <th>P&L</th>
            <th>Entry Price</th>
            <th>Exit Price</th>
            <th>Percent change</th>
          </tr>
        </thead>
        <tbody>
          {{#each positions}}
            <tr class="history-item cursor-pointer{{#if (gt closedPnl 0)}} table-success{{else}} table-danger{{/if}}" data-symbol="{{symbol}}" data-closed-pnl="{{formatPrice closedPnl}}" data-updated-time="{{updatedTime}}" data-entry-price="{{avgEntryPrice}}" data-exit-price="{{avgExitPrice}}" data-side="{{#if (eq side 'Buy')}}Sell{{else}}Buy{{/if}}">
              <td>{{formatDate updatedTime}}</td>
              <td>{{symbol}}</td>
              <td class="{{#if (eq side 'Buy')}}text-danger{{else}}text-success{{/if}}">
                {{#if (eq side 'Buy')}}Short{{else}}Long{{/if}}
              </td>
              <td>
                {{formatPrice cumExitValue}}
              </td>
              <td class="{{#if (gt closedPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{formatPrice closedPnl}}
              </td>
              <td>{{formatPrice avgEntryPrice 4}}$</td>
              <td>{{formatPrice avgExitPrice 4}}$</td>
              <td class="{{#if (gt closedPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{changepercent avgExitPrice avgEntryPrice}}%
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="12" class="text-center">No history positions found</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row my-2">
  <div class="col-12 text-center">
    {{#if cursor}}
    <button class="btn btn-primary history-item load-more{{#if all}} all{{/if}}" data-cursor="{{cursor}}">
      Load More History Positions
    </button>
    {{/if}}
  </div>
</div>
