<ul class="nav nav-pills mb-2">
  <li class="nav-item">
    <a class="nav-link order-item get-orders" aria-current="page" href="#">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active position-item get-positions" href="#">Positions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more" href="#">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more all" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more" href="#">W/R</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more all" href="#">W/R All</a>
  </li>
</ul>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Symbol</th>
            <th>Side</th>
            <th>Size</th>
            <th>unrealisedPnl</th>
            <th>avgPrice</th>
            <th>Changes</th>
            <th>Del</th>
          </tr>
        </thead>
        <tbody>
          {{#each positions}}
            <tr class="position-item cursor-pointer" data-symbol="{{symbol}}">
              <td>{{formatDate updatedTime}}</td>
              <td>{{symbol}}</td>
              <td class="{{#if (eq side 'Buy')}}text-success{{else}}text-danger{{/if}}">
                {{#if (eq side 'Buy')}}Long{{else}}Short{{/if}}
              </td>
              <td>
                {{formatPrice positionValue}}$
              </td>
              <td class="{{#if (gt unrealisedPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{formatPrice unrealisedPnl}}$
              </td>
              <td>
                {{formatPrice avgPrice 4}}$
              </td>
              <td class="{{#if (gt unrealisedPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{changepercent markPrice avgPrice}}%
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-light cancel-position" data-side="{{side}}" data-qty="{{size}}">🗑</button>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="12" class="text-center">No positions found</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row my-2">
  <div class="col-12 text-center">
    {{#if cursor}}
    <button class="btn btn-primary position-item get-positions" data-cursor="{{cursor}}">
      Load More Positions
    </button>
    {{/if}}
  </div>
</div>
