<ul class="nav nav-pills mb-2">
  <li class="nav-item">
    <a class="nav-link order-item get-orders" aria-current="page" href="#">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link position-item get-positions" href="#">Positions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more" href="#">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more all" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more{{#unless all}} active{{/unless}}" href="#">W/R</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more all{{#if all}} active{{/if}}" href="#">W/R All</a>
  </li>
</ul>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Symbol</th>
            <th>loss</th>
            <th>profitable</th>
            <th>totalTrades</th>
            <th>lossPrcnt</th>
            <th>profPrcnt</th>
            <th>totalPnl</th>
            <th>WinRate</th>
          </tr>
        </thead>
        <tbody>
          {{#each winRate}}
            <tr class="win-item cursor-pointer" data-symbol="{{symbol}}" data-closed-pnl="{{formatPrice closedPnl}}" data-updated-time="{{updatedTime}}" data-entry-price="{{avgEntryPrice}}" data-exit-price="{{avgExitPrice}}" data-side="{{#if (eq side 'Buy')}}Sell{{else}}Buy{{/if}}">
              <td>{{dateKey}}</td>
              <td>{{symbol}}</td>
              <td class="text-danger">
                {{loss}}
              </td>
              <td class="text-success">
                {{profitable}}
              </td>
              <td>{{totalTrades}}</td>
              <td class="{{#if (gt totalPnl 0)}}text-danger{{else}}text-success{{/if}}">{{formatPrice lossPrcnt}}</td>
              <td class="{{#if (gt totalPnl 0)}}text-success{{else}}text-danger{{/if}}">{{formatPrice profPrcnt}}</td>
              <td class="{{#if (gt totalPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{formatPrice totalPnl}}
              </td>
              <td>{{strictWinRate}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
