<ul class="nav nav-pills mb-2">
  <li class="nav-item">
    <a class="nav-link order-item get-orders" aria-current="page" href="#">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link position-item get-positions" href="#">Positions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more" href="#">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history-item load-more all" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more{{#unless all}} active{{/unless}}" href="#">W/R</a>
  </li>
  <li class="nav-item">
    <a class="nav-link win-item load-more all{{#if all}} active{{/if}}" href="#">W/R All</a>
  </li>
</ul>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Symbol</th>
            <th>Trades</th>
            <th>lossPrcnt, %</th>
            <th>profPrcnt, %</th>
            <th>totalPrcnt, %</th>
            <th>totalPnl, $</th>
          </tr>
        </thead>
        <tbody>
          {{#each winRate}}
            <tr class="win-item cursor-pointer{{#if (gt totalPnl 0)}} table-success{{else}} table-danger{{/if}}" data-symbol="{{symbol}}" data-closed-pnl="{{formatPrice closedPnl}}" data-updated-time="{{updatedTime}}" data-entry-price="{{avgEntryPrice}}" data-exit-price="{{avgExitPrice}}" data-side="{{#if (eq side 'Buy')}}Sell{{else}}Buy{{/if}}">
              <td>{{dateKey}}</td>
              <td>{{symbol}}</td>
              <td class="{{#if (gt totalPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{totalTrades}} (+{{profitable}}; -{{loss}})
              </td>
              <td class="text-danger">
                -{{formatPrice lossPrcnt}}
              </td>
              <td class="text-success">
                +{{formatPrice profPrcnt}}
              </td>
              <td class="{{#if (gt totalPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{formatPrice totalPrcnt}}
              </td>
              <td class="{{#if (gt totalPnl 0)}}text-success{{else}}text-danger{{/if}}">
                {{formatPrice totalPnl}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
